<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% load static %}
        <link rel="stylesheet" href="{% static 'index.css' %}" />
        <title>Notifications</title>
    </head>
    <body>
        <div>{% include "./includes/navbar.html" %}</div>
        <div class="container"><h1>TWITTER CLONE | Notifications</h1></div>
        {% if new_notifications %}
        <div class="container" id="flex">
            <div>{% include "./includes/notification_detail.html" %}</div>
        </div>
        {% else %}
        <div class="container" id="flex">
            <div id="alert"><h2>You have no new notifications. &#128533;</h2></div>
        </div>
        {% endif %}

        <div class="container"><button href="#" onclick="GoBackWithRefresh();return false;">Go Back</button></div>
        <script>
            function GoBackWithRefresh(event) {
                if ('referrer' in document) {
                    window.location = document.referrer;
                } else {
                    window.history.back();
                }
            }
        </script>
    </body>
</html>
