<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% load static %}
        <link rel="stylesheet" href="{% static 'index.css' %}" />
        <title>Tweet Detail</title>
    </head>
    <body>
        <div>{% include "./includes/navbar.html" %}</div>
        <div class="container"><h1>TWITTER CLONE | Tweet Details</h1></div>
        <div class="container" id="flex">
            <div>{% include "./includes/tweet_detail.html" %}</div>
        </div>
{% if user.is_authenticated %}
        <div class="container"><button href="#" onclick="GoBackWithRefresh();return false;">Go Back</button></div>
        <script>
            function GoBackWithRefresh(event) {
                if ('referrer' in document) {
                    window.location = document.referrer;
                } else {
                    window.history.back();
                }
            }
        </script>
{% endif %}
    </body>
</html>
